.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

#localVideo {
    width: 400px;
    background: #000;
}

#remoteVideos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.remote-video-container {
    position: relative;
    width: 400px;
}

.remote-video-container video {
    width: 100%;
    background: #000;
}

.remote-video-label {
    /* position: absolute; */
    /* bottom: -22px; */
    left: 0px;
    background: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    /* padding: 5px 10px; */
    border-radius: 4px;
}

.myButton {
    margin: 0px;
}